﻿@{
    ViewBag.Title = "Home Page";
}

<h2>Settings</h2>
<ul>
    <li>@Html.ActionLink("Change connections", "ChangeConnections", "Tools")</li>
</ul>

<h2>General Tools</h2>
<ul>
    <li>@Html.ActionLink("Export resumes", "ExportResumes", "Tools")</li>
    <li>@Html.ActionLink("Upload a Job Board Image", "UploadJobBoardImage", "Tools")</li>
    <li>@Html.ActionLink("Reset a Candidate Password", "ResetCandidatePassword", "Tools")</li>
</ul>

<h2>TextKernel Tools</h2>
<ul>
    <li>@Html.ActionLink("Check TK Currency", "CheckTKCurrency", "Tools")</li>
    <li>@Html.ActionLink("Create a one-time Candidate + Job Opening score", "CreateOneTimeScore", "Tools")</li>
</ul>

@*<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>*@