﻿<%@ Page Title="Change Connections" Language="C#" MasterPageFile="~/Site.Master" AutoEventWireup="true" CodeBehind="ChangeConnections.aspx.cs" Inherits="BOWebForms.Tools.ChangeConnections" %>

<asp:Content ID="BodyContent" ContentPlaceHolderID="MainContent" runat="server">

<h1>Change Connections</h1>

</asp:Content>
