﻿@model BOWeb.Models.BackOfficeConnections
@{
    ViewBag.Title = "Change Connections";
}
<h2>Change Connections</h2>

<p>This page is for changing both TextKernel and JMM database connections.</p>

<hr />

<p class="text-success">@ViewBag.StatusMessage</p>

@using (Html.BeginForm("ChangeConnections", "Tools", FormMethod.Post))
{
    @*@Html.AntiForgeryToken()*@
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <table>
        <tr>
            <td>
                @Html.LabelFor(m => m.TextKernelConnection)
            </td>
            <td>
                @Html.DropDownListFor(m => m.TextKernelConnection, new SelectList(
                    new List<Object>
                    {
                        new { value = "staging", text = "staging"},
                        new { value = "prod", text = "prod"}
                    },
                    "value",
                    "text",
                    HttpContext.Current.Session["TK"]))
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(m => m.JMMDBConnection)
            </td>
            <td>
                @Html.DropDownListFor(m => m.JMMDBConnection, new SelectList(
                    new List<Object>
                    {
                        new { value = "dev", text = "dev"},
                        new { value = "staging", text = "staging"},
                        new { value = "sandbox", text = "sandbox"},
                        new { value = "prod", text = "prod"}
                    },
                    "value",
                    "text",
                    HttpContext.Current.Session["JMM"]))
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <input id="btnSubmit" type="submit" value="Submit" />
            </td>
        </tr>
    </table>
}
