﻿@model BOWeb.Models.Candidate
@{
    ViewBag.Title = "Reset a Candidate Password";
}
<h2>Reset Password</h2>

<p>This page is for resetting a Candidate password.</p>

<hr />

<p class="text-success">@ViewBag.StatusMessage</p>

@using (Html.BeginForm("ResetCandidatePassword", "Tools", FormMethod.Post))
{
    @*@Html.AntiForgeryToken()*@
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <table>
        <tr>
            <td>
                @Html.LabelFor(m => m.Candidate_Id)
            </td>
            <td>
                @Html.TextBoxFor(m => m.Candidate_Id, new { maxlength=6 })
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(m => m.Password)
            </td>
            <td>
                @Html.PasswordFor(m => m.Password, new { maxlength=100 })
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <input id="btnSubmit" type="submit" value="Submit" />
            </td>
        </tr>
    </table>
}


