﻿@model BOWeb.Models.SignIn
@{
    ViewBag.Title = "Sign In";
}
<h2>Sign In</h2>

<p>This page is for signing in to the JMM Back Office tool.</p>

<hr />

<p class="text-success">@ViewBag.StatusMessage</p>

@using (Html.BeginForm("SignIn", "Tools", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <table>
        <tr>
            <td>
                @Html.LabelFor(m => m.Password)
            </td>
            <td>
                @Html.PasswordFor(m => m.Password, new { maxlength=100 })
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <input id="btnSubmit" type="submit" value="Submit" />
            </td>
        </tr>
    </table>
}